<h2>
  <a href="#/models/{{entity._type}}">< back</a> | ({{entity._type}}) {{entity._id}}
</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <td>{{entity._id}}</td>
  </tr>
  <tr ng-repeat="header in headers">
    <th >
      {{ header }}
    </th>
    <td>
      {{ entity._source[header] }}
    </td>
  </tr>
</table>

<h3>Versions</h3>


<table style="width:100%">
  <tr>
    <th>Version</th>
    <th ng-repeat="header in headers">
      {{ header }}
    </th>
  </tr>
  <tr ng-repeat="version in entity.versions.hits.hits">
    <td>{{version._source.master.version}}</td>
    <td ng-repeat="header in headers">
      {{ version._source[header] }}
    </td>
  </tr>
</table>
