<h2>
  <a href="#/">< back</a> | {{type}}
</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th ng-repeat="header in headers">
      {{ header }}
    </th>
  </tr>
  <tr ng-repeat="entity in model">
    <td>
      <a href="#/models/{{entity._type}}/{{entity._id}}">{{entity._id}}</a>
    </td>
    <td ng-repeat="header in headers">
      {{ entity._source[header] }}
    </td>
  </tr>
</table>
